@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: poppins;
  src: url('/fonts/Poppins-Regular.ttf');
}
:root {
  --primaryColor: #e78515;
  --tertiaryColor: #163853;
  --grayText: #525252;
}
.themeTextT1{
  color: var(--primaryColor);
}
.headingH1 {
  font-size: 45px;
  font-weight: bold;
  line-height: 60px;
}

.headingH2 {
  font-size: 20px;
  letter-spacing: 1px;
}

.headingH3 {
  font-weight: bold;
}
.headingH4 {
  font-size: 30px;
  font-weight: bold;
}
.headingH5v {
  font-size: 3vmin;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}





/*
.Home {
  min-height: 100vh;
  width: 100%;
  display:flex;
} 
.Home .leftSide {
  width: 50%;
  min-height: 100vh;
  background-color: rgb(22, 22, 22);
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
  position: relative;
}

.Home .leftSide .bgText {
  color: #000;
  font-size: 8vmin;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  position: absolute;
  top: 0;
  left: 0;
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.Home .leftSide .image {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.Home .leftSide .image img{
  height: 100%;
}
.Home .leftSide .welcomeNote {
  width: 80%;
  margin: 0 auto;
  z-index: 1;
}

.Home .leftSide .button {
  z-index: 1;
}

.Home .rightSide {
  width: 50%;
  min-height: 100vh;
  background-image: url('/images/rightBg.png');
  color: #fff;
  background-size: 120%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;

}

.Home .rightSide .heading {
  width: 80%;
  margin-left: 60px;
  font-size: 40px;
}

.Home .rightSide .services {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.Home .rightSide .services .card {
  width: 40%;
  min-height: 150px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(12, 12, 12, 0.342);
}

.Home .rightSide .services .card .serial {
  font-size: 26px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  opacity: 0.5;

}

@layer base {
  :root {
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}



@media screen and (max-width:1024px) {
  .Home {
    min-height: fit-content;
    flex-direction: column-reverse;
  }

  .Home .leftSide {
    min-height: 50vh;
    width: 100%;
    padding: 50px 0;
  }

  .Home .rightSide {
    min-height: 50vh;
    width: 100%;
    padding: 50px 0;
  }
  
}
@media screen and (max-width:600px) {

  .Home .leftSide {
    min-height: 100vh;
  }
  .Home .leftSide .welcomeNote {
    width: 90%;
    font-size: 22px;
  }

  .Home .rightSide {
    min-height: 100vh;
  }
  .Home .rightSide .services .card {
    width: 60%;
    min-height: 150px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(12, 12, 12, 0.342);
  }
  
} */