@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: poppins;
  src: url('/fonts/Poppins-Regular.ttf');
}
:root {
  --primaryColor: #e78515;
  --tertiaryColor: #163853;
  --grayText: #525252;
}
.themeTextT1{
  color: var(--primaryColor);
}
.headingH1 {
  font-size: 45px;
  font-weight: bold;
  line-height: 60px;
}

.headingH2 {
  font-size: 20px;
  letter-spacing: 1px;
}

.headingH3 {
  font-weight: bold;
}
.headingH4 {
  font-size: 30px;
  font-weight: bold;
}
.headingH5v {
  font-size: 3vmin;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

